<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
<link rel="shortcut icon" type="image/ico" href="../public/images/favicon.ico"/>
</head>

<body>
  <img src="../public/images/logo.png" type="image/png" alt="logo">
  <h1>Basic HTML page to test file downloading and uploading</h1>
  <p>Enter video ID:</p>
  <form id = "sbar" method = "post" action = "/streaming">
      <input type ="text" name = "id" size = 20>
      <input type = "submit" value = "Search for ID">
  </form>
  
  <form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="myImage">
    <input type="submit" value="Submit">
</form>

<h2>Below is the last video uploaded by anyone</h2>
<video id="videoPlayer" controls>
	<source src="/streaming/video" type="video/mp4">
	<p>Your browser does not support H.264/MP4.</p>
</video>
<!--<img src="/upload/image.png" />-->

<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script src="searchbar.js"></script>


</body>

</html>
