<!DOCTYPE html>
<html>
<body>
<p>"does this work"</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> <!-- access jquery library -->
<script>

var ipmaybe;
var bro = "4293844";
document.write(bro);
app.get('/ledger/:id', function(req, res){
    var ipmaybe = res;
    res.send("sucess?");
    document.write(bro);
 });



</script>




</form>
</body>
</html>