<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <a href="/videos/upload">Upload your videos here!</a> 
  <h1>Search your video here!</h1>

  <form id = "sbar" >
    <input type ="text" name = "id" id= "searchid" size = 30>
    <button type="submit" id="seachbutton">Search IDs</button>
  </form>

  <form id = "tbar" >
    <input type ="text" name = "tag" id= "searchtag" size = 30>
    <button type="submit" id="tagbutton">Search Tags</button>
  </form>

  <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
  <script>
    $('#searchbutton').click((e) => {
      e.preventDefault();
      const idField = $('#search');
      window.location.href = '/videos/stream/' + idField.val();
    });

    $('#tagbutton').click((e) => {
      const tagField = $('#searchtag');
      //switch to new view here
    })
  </script>
</body>

</html>
