<html>

<head>
    <title>Results</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h2>Results for Tag Name</h2>
  <!--- <video id="videoPlayer" controls>
    <source  type="video/mp4" src="<%=ip%>/"> --->
    <p>Your browser does not support H.264/MP4.</p>
    <% for (int i=0; i<items.array.length; i++) { /> 
        <a href="videos/stream/<%=items[i].id%>"><%=items[i].name%></a><%
    }/%> 
</body>
</html>