<html>
    <head>
        <title>Upload</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="<%=ip%>">
            <input type="file" name="myVideo" id="video">
            <button type="submit" id="uploadbutton">Search Tags</button>
        </form>
    </body>
    
</html>